@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Luckiest+Guy&display=swap');


  #root,
   .answers,
   .question, 
   .settings,
   .title,
   .final {
   font-family: 'Lora', serif ;
  }


.background--custom {
  background: linear-gradient(90deg, #8d9976, #fafeec, #86ada7);
  background-size: 300% 300%;
  animation: gradient 6s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}